<!--
    title: about.component.html
    author: Caitlynne Johnson
    date: 9/02/23
-->

<!-- HEADER CLASS -->

<header class="container-fluid text-center about">
    <div class="container-p-5">

        <!-- about section -->
        <h1 class="display-1"> About Us</h1>

        <p class="lead">
            Nodebucket, a dynamic task management company, is helmed by a group of ambitious Slytherin leaders who have brought their unique approach to the world of productivity and organization. With a focus on efficiency, innovation, and strategic thinking, Nodebucket is poised to transform the way individuals and organizations manage their tasks.
<br><br>
The Slytherin ethos permeates Nodebucket's business strategy. The company's leadership, known for their cunning and resourcefulness, consistently seeks out opportunities to optimize task management processes. Their unwavering dedication to achieving their objectives is central to Nodebucket's success, driving them to continually refine their products and services.
        </p>
    </div>
</header>
<div class="container my-5">
    <div class="row">
        <!-- task column -->
        <div class="col-md-7">
            <h2 class="display-3">Task Management</h2>
            <p class="lead">
                Nodebucket specializes in developing cutting-edge task management solutions that cater to a wide range of industries. Their portfolio includes intuitive software applications designed to streamline task allocation, prioritize assignments, and improve overall productivity. Nodebucket's ability to stay ahead of the curve in adopting emerging technologies has cemented their position as a market leader.
                <br><br>
                A standout feature of Nodebucket is their commitment to adaptability and scalability. Slytherin-led initiatives ensure that the company remains agile, ready to pivot and tailor their solutions to meet evolving customer needs. This flexible approach is in line with the Slytherin values of resourcefulness and the ability to seize opportunities when they arise.
            </p>

            <!-- reviews -->
            <p class="lead">Reviews:</p>
            <ul>
                <li> Users frequently praise Nodebucket's user-friendly interface, describing it as intuitive and easy to navigate. The logical layout and clean design make it accessible to individuals of all tech backgrounds, from beginners to seasoned professionals.</li>
                <li> Nodebucket's task management platform offers a robust feature set that caters to a diverse range of needs. Reviewers appreciate the ability to create tasks, set priorities, assign deadlines, and collaborate seamlessly with team members. The platform's adaptability allows users to customize their workflow to suit their unique requirements.</li>
                <li> Nodebucket's availability across various platforms, including web, mobile, and desktop applications, receives high marks. Users appreciate the flexibility to access their tasks and collaborate with their teams from any device, ensuring that they stay productive no matter where they are.</li>
                <li> Nodebucket's integration capabilities have won over many users. The platform seamlessly integrates with other popular productivity tools, such as calendars, email clients, and project management software, streamlining workflows and eliminating data silos.</li>
                <li> Reviewers frequently highlight Nodebucket's task prioritization features. The ability to set due dates, assign urgency levels, and categorize tasks empowers users to focus on what matters most, leading to enhanced productivity.</li>
            </ul>
        </div>
        <!-- task column end -->
        <div class="col-md-5">
            <img src="./assets/pexels-rdne-stock-project-7979083.jpg" alt="a book with a pen" width="500px" class="img-fluid-rounded"/>
        </div>
    </div>
    <!-- end of row -->
    <hr class="my-5" />
    <div class="row">
    <div class="col-md-5">
        <img src="./assets/pexels-polina-zimmerman-3747142.jpg" alt="a cell phone that says hello" class="img-fluid rounded"/>
    </div>
    <div class="col-md-7">
        <!-- mobile access -->
        <h2 class="display-3">Mobile Accessibility </h2>
        <p class="lead">
            Nodebucket, a forward-thinking task management company, is committed to delivering an inclusive and accessible user experience through its mobile app. Recognizing the importance of accessibility for all users, Nodebucket has taken significant strides to ensure that its task management platform is usable and efficient for individuals with diverse needs and abilities.
            <br><br>
            Nodebucket's dedication to mobile accessibility begins with a user-friendly interface that prioritizes clarity and simplicity. The mobile app boasts intuitive navigation, logical layout, and easy-to-understand icons, catering to users of all backgrounds and levels of tech-savviness. This design approach aligns with the company's goal of ensuring that anyone can effectively use their platform.
        </p>
    </div>
        </div>
        <hr class="my-5" />
        <div class="row">
            <div class="col-md-12">
                <!-- description of the team -->
                <h2 class="display-3 text-center">Our Team</h2>
                <div class="p lead text-center">
                    Our team is comprised of the following members:
                </div>
            </div>
        </div>
        <!-- team member 1 bio -->
        <div class="row my-5">
            <div class="col-md-7">
                <p class="lead">
                    <strong>Draco Malfory</strong> serves as a Senior Product Manager at Nodebucket, where he plays a crucial role in shaping the development and enhancement of our task management platform. His responsibilities include overseeing product strategy, user experience improvements, and feature development.
                </p>
            </div>
            <div class="col-md-5">
                <img src="./assets/draco.jpeg" alt="draco malfory" class="img-fluid rounded"/>
            </div>
        </div>
        <!-- team member 2 bio -->
        <div class="row my-5">
            <div class="col-md-7">
                <p class="lead">
                    <strong>Severus Snape</strong> serves as a Senior Software Engineer at Nodebucket, playing a pivotal role in the development and optimization of our task management platform. His responsibilities encompass crafting efficient and reliable code, enhancing system performance, and addressing complex technical challenges.
                </p>
            </div>
            <div class="col-md-5">
                <img src="./assets/snape.jpeg" alt="severus snape" class="img-fluid rounded"/>
            </div>
        </div>
        <!-- team member 3 bio -->
        <div class="row my-5">
            <div class="col-md-7">
                <p class="lead">
                    <strong>Horace Slughorn</strong> serves as Nodebucket's Senior User Experience (UX) Designer, a role central to shaping the user-centric design of our task management platform. His responsibilities include crafting intuitive interfaces, enhancing user engagement, and ensuring an exceptional overall user experience.
                </p>
            </div>
            <div class="col-md-5">
                <img src="./assets/horac.jpeg" alt="horace slughorn" class="img-fluid rounded"/>
            </div>
        </div>
    </div>
