/*
title: about.component.css 
author: Caitlynne Johnson
date: 9/02/23 
*/

.about {
    min-height: 600px;
    background-color: #adb5bd;
    margin-top: 1%;
    color: black;
}

hr {
    color: #adb5bd;
}

.container {
    color: #000;
}